[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target

[Service]
Type=exec
User={{ consul_user_name }}
Group={{ consul_user_group }}
ExecStart={{ consul_binary_file_path }} agent -config-dir={{ consul_user_home_path }}/
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
