---
- name: Hashicorp - Consul
  hosts: all
  gather_facts: true
  become: true

  vars_files:
    - vars/common.yml
    - vars/pki.yml
    - vars/consul.yml

  tasks:
    - name: Consul - Requirements
      block:
        - name: 'Consul - Requirements: Ensure unzip and jq are installed'
          ansible.builtin.apt:
            pkg:
              - unzip
              - jq
            state: present

        - name: 'Consul - Requirements: Ensure Consul group exist'
          ansible.builtin.group:
            name: "{{ consul_group }}"
            state: present

        - name: 'Consul - Requirements: Ensure Consul user exist'
          ansible.builtin.user:
            name: "{{ consul_user }}"
            group: "{{ consul_group }}"
            system: true
            create_home: true
            home: "{{ consul_config_path }}"

        - name: 'Consul - Requirements: Ensure Consul directories exists'
          ansible.builtin.file:
            path: "{{ item }}"
            state: directory
            owner: "{{ consul_user }}"
            group: "{{ consul_group }}"
            mode: '0755'
          with_items:
            - "{{ consul_data_path }}"
            - "{{ consul_logs_path }}"
            - "{{ consul_tls_path }}"

    - name: Consul - Certificate
      block:
        - name: Consul - Certificate - Root
          block:
            - name: 'Consul - Certificate - Root: Read Root CA Certificate'
              delegate_to: localhost
              become: false
              ansible.builtin.slurp:
                src: "{{ pki_ca_certificate_file_path }}"
              register: ca_certificate

            - name: 'Consul - Certificate - Root: Ensure certificate exist'
              ansible.builtin.copy:
                dest: "{{ pki_ca_certificate_dest_file_path }}"
                content: "{{ ca_certificate.content | b64decode }}"
                mode: '0644'

            - name: 'Consul - Certificate - Root: Trust Root CA certificate'
              ansible.builtin.command: 'update-ca-certificates -f'
              changed_when: update_ca_certificate.rc != 0
              register: update_ca_certificate

        - name: Consul - Certificate - Agent
          block:
            - name: 'Consul - Certificate - Agent: Ensure intermediate ca certificate exists'
              ansible.builtin.copy:
                src: "{{ pki_consul_ca_certificate_file_path }}"
                dest: "{{ consul_ca_certificate_file_path }}"
                owner: "{{ consul_user }}"
                group: "{{ consul_group }}"
                mode: '0400'

            - name: 'Consul - Certificate - Agent: Ensure certificate exist'
              ansible.builtin.copy:
                src: "{{ pki_consul_agent_certificate_file_path }}"
                dest: "{{ consul_agent_certificate_file_path }}"
                owner: "{{ consul_user }}"
                group: "{{ consul_group }}"
                mode: '0400'

            - name: 'Consul - Certificate - Agent: Ensure certificate key exist'
              ansible.builtin.copy:
                src: "{{ pki_consul_agent_certificate_key_file_path }}"
                dest: "{{ consul_agent_certificate_key_file_path }}"
                owner: "{{ consul_user }}"
                group: "{{ consul_group }}"
                mode: '0400'

        - name: Consul - Certificate - User
          when: ansible_hostname in groups['hcp-servers']
          block:
            - name: 'Consul - Certificate - User: Ensure user directories exists'
              ansible.builtin.file:
                path: "{{ consul_cli_path }}"
                state: directory
                owner: "{{ item.name }}"
                group: "{{ item.name }}"
                mode: '0644'
              with_items: "{{ common_cli_users }}"

            - name: 'Consul - Certificate - User: Ensure intermediate ca certificate exist'
              ansible.builtin.copy:
                src: "{{ pki_consul_ca_certificate_file_path }}"
                dest: "{{ consul_cli_ca_certificate_file_path }}"
                owner: "{{ item.name }}"
                group: "{{ item.name }}"
                mode: '0400'
              with_items: "{{ common_cli_users }}"

            - name: 'Consul - Certificate - User: Ensure certificate exist'
              ansible.builtin.copy:
                src: "{{ pki_consul_cli_certificate_file_path }}"
                dest: "{{ consul_cli_certificate_file_path }}"
                owner: "{{ item.name }}"
                group: "{{ item.name }}"
                mode: '0400'
              with_items: "{{ common_cli_users }}"
              loop_control:
                index_var: index

            - name: 'Consul - Certificate - User: Ensure certificate key exist'
              ansible.builtin.copy:
                src: "{{ pki_consul_cli_certificate_key_file_path }}"
                dest: "{{ consul_cli_certificate_key_file_path }}"
                owner: "{{ item.name }}"
                group: "{{ item.name }}"
                mode: '0400'
              with_items: "{{ common_cli_users }}"
              loop_control:
                index_var: index

    - name: Consul - Gossip
      delegate_to: localhost
      run_once: true
      become: false
      block:
        - name: 'Consul - Gossip: Ensure secrets directory exist'
          ansible.builtin.file:
            path: "{{ consul_secret_root_path }}"
            state: directory
            mode: '0755'

        - name: 'Consul - Gossip: Check if Gossip encryption key file exist'
          ansible.builtin.stat:
            path: "{{ consul_gossip_encryption_key_file_path }}"
          register: consul_gossip_encryption_key_info

        - name: 'Consul - Gossip: Ensure Gossip encryption key exist'
          when: not consul_gossip_encryption_key_info.stat.exists
          ansible.builtin.copy:
            content: "{{ lookup('community.general.random_string', length=32, base64=False) }}"
            dest: "{{ consul_gossip_encryption_key_file_path }}"
            mode: '755'

        - name: 'Consul - Gossip: Read Gossip encryption key'
          ansible.builtin.slurp:
            src: "{{ consul_gossip_encryption_key_file_path }}"
          register: consul_gossip_encryption_key_file
