datacenter = "{{ consul_datacenter }}"
data_dir = "{{ consul_data_path }}"
domain = "{{ consul_domain }}"

enable_local_script_checks = true
enable_script_checks = false

encrypt = "{{ consul_gossip_encryption_key }}"

log_level = "DEBUG"

retry_join = [{% for host in groups['hcp-servers'] %}{{ hostvars[host].ansible_host | to_json }}{% if not loop.last %}, {% endif %}{% endfor %}]

acl = {
  enabled = true
  default_policy = "deny"
  enable_token_persistence = true
  tokens = {
    #default = ""
    #agent   = ""
  }
}

ports {
  http     = -1
  https    = 8500
  grpc_tls = 8502
}

tls {
  defaults {
    ca_file   = "{{ consul_ca_certificate_file_path }}"
    cert_file = "{{ consul_agent_certificate_file_path }}"
    key_file  = "{{ consul_agent_certificate_key_file_path }}"

    verify_outgoing        = true
    verify_incoming        = true
  }
  https {
    verify_incoming        = false
  }
  internal_rpc {
    verify_server_hostname = true
  }
}
