server = true
bootstrap_expect = {{ groups['hcp-servers'] | length }}

bind_addr   = "0.0.0.0"
client_addr = "0.0.0.0"

recursors = ["1.1.1.1", "8.8.8.8"]

auto_encrypt {
  allow_tls = true
}

connect {
  enabled = true
}

ui_config {
  enabled = true
}
